@model Projekt_Zaliczeniowy_PZ.Models.Versionlog

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Versionlog</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Dokeument
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Document.Title)
        </dd>
        <dt class = "col-sm-2">
            Kto wykonał akcje
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Email)
        </dd>
        <dt class = "col-sm-2">
            Data
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            Opis zdarzenia
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Wróć do panelu uprawnień</a>
</div>
