@model Projekt_Zaliczeniowy_PZ.Models.DocumentPermission

@{
    ViewData["Title"] = "Delete";
}

<h1>Usuń</h1>

<h3>Czy napewno chcesz odebrać uprawnienia temu użytkownikowi?</h3>
<div>
    <h4>DocumentPermission</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Email użytkownika
        </dt>
        <dd class = "col-sm-10">
            @Model.User?.Email
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Role)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Usuń" class="btn btn-danger" /> |
        <a asp-action="Index">Wróć do panelu uprawnienia</a>
    </form>
</div>
